* {
  font-family: "Red Hat Display", sans-serif;
}

.get-btn {
  background: #157442;
  color: white;
  border-radius: 25px;
  font-weight: 400;
  width: 156px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.get-btn:hover {
  background: #157442;
  color: white;
}
.nav .nav-link {
  color: #666666;
  font-weight: 400;
}
.nav .nav-link:hover {
  color: #157442;
}
.main-head {
  background-color: #f9f9f9;
  border: 1px solid #ffffff;
}
.icon {
  font-size: 21px;
}
.banner-section {
  width: 100%;
  min-height: 830px;
  overflow: hidden;
  position: relative;
}
.homevideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.banner-content-setion {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: 13%;
}

.banner-content h1 {
  font-size: 46px;
  font-weight: 700;
  color: #f9f9f9;
  text-align: left;
  max-width: 1000px;
  line-height: 1.2;
}
.sub-content {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: 20px;
}

.sub-content p {
  font-size: 16px;
  font-weight: 400;
  color: #efefef;
  text-align: left;
  max-width: 900px;
  line-height: 1.6;
}

.maas-card {
  width: 100%;
  height: 99px;
  background: #ffffff;
  padding: 12px 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.card-left {
  display: flex;
  gap: 8px;
}

.status-dot {
  width: 6px;
  height: 7px;
  background: #157442;
  border-radius: 50%;
  margin-top: 6px;
}

.card-text h4 {
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}

.card-text p {
  font-size: 12px;
  color: #555;
  max-width: 136px;
  margin-top: 12px;
  line-height: 1.3;
}

.arrow-icon {
  font-size: 24px;
  color: #157442;
  transform: rotate(-36.48deg);
  position: absolute;
  top: 14px;
  left: 200px;
  opacity: 1;
}
.card-section {
  max-width: 800px;
}
.connect {
  background: #f9f9f9;
  color: #157442;
  border-radius: 25px;
  font-weight: 500;
  width: 220px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-style: medium;
  line-height: 100%;
  letter-spacing: 0%;
}
.connect-btn {
  margin-top: 30px;
  max-width: 800px;
}
.btn.connect {
  text-decoration: none;
  color: #157442;
  gap: 8px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.btn.connect .icon {
  order: 1; 
  transition: order 0s, transform 0.3s ease;
}

.btn.connect .connect-text {
  order: 2; 
  transition: transform 0.3s ease;
}


.btn.connect:hover .icon {
  transform: translateX(140px); 
}

.btn.connect:hover .connect-text {
  transform: translateX(-30px); 
}

.about-split-section {
  width: 100%;
}

.about {
  padding: 0%;
}


.about-left {
  background: #1e7a45;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 420px;
  padding: 60px;
}

.about-left-content h2 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  max-width: 420px;
  line-height: 1.3;
  font-style: bold;
  line-height: 51px;
  letter-spacing: 0%;
}



.about-right {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 420px;
  padding: 60px;
}

.about-right-content {
  text-align: center;
  max-width: 420px;
}

.about-right-content h3 {
  font-size: 40px;
  font-weight: 700;
  font-style: bold;
  font-family: "Figtree", sans-serif;
  margin-bottom: 15px;
  color: #1a1a1a;
}

.about-right-content p {
  font-size: 16px;
  color: #515151;
  font-style: light;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 25px;
}



.learn-btn {
  border: 1px solid #157442;
  color: #157442;
  padding: 10px 26px;
  border-radius: 31px;
  font-size: 14px;
}

.learn-btn:hover {
  background: #157442;
  color: white;
}


.strategic {
  background: #ddfbea;
  padding: 100px 0;
}

.strategic-wrapper {
  display: flex;
  align-items: flex-start;
}



.strategic-title {
  font-family: "Figtree", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 51px;
  color: #143d2a;
  max-width: 600px;
  margin-bottom: 40px;
}



.strategic-grid {
  max-width: 766px;
  width: 100;
  background: #ffffff;
  margin-top: 65px;
}



.strategic-card {
  padding: 30px;
  background: #f9f9f9;
  border: 0.8px solid #dedede;
  min-height: 237px;
}

.strategic-card h4 {
  font-size: 18px;
  font-style: bold;
  line-height: 100%;
  color: #282828;
  letter-spacing: 0%;
  font-weight: 600;
  margin-bottom: 12px;
}

.strategic-card p {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 16px;
  color: #787878;
}



.explore-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  line-height: 100%;
  margin-top: 20px;
  color: #157442;
  font-size: 15px;
  text-decoration: none;
}

.explore-link i {
  font-size: 16px;
}

.strategic-image {
  position: relative;
}
.strategic-image-inner {
  position: relative;
  display: inline-block;
  line-height: 0;
  margin-left: auto;
}

.strategic-image img {
  display: block;
  width: 100%;
  max-width: 553px;
  height:100vh;
  max-height: 641px !important;
  object-fit: cover;
}

.consult-box {
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 220px;
  background: #157442;
  color: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.consult-box p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  max-width: 140px;
  margin-top: 50%;
}

.arrow {
  font-size: 24px;
  color: white;
  transform: rotate(-42.32deg);
  position: absolute;
  top: 40px;
  left: 214.3px;
  opacity: 1;
}


.product-card {
  background: #ffffff;
  padding: 60px 40px;
  position: relative;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-number {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 24px;
  color: #e0e0e0;
  font-weight: 500;
}

.product-img {
  width: 100%;
  margin-bottom: 40px;
}

.product-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.product-title span {
  font-weight: 400;
  color: #797979;
  font-size: 16px;
  margin-left: 5px;
  line-height: 100%;
  font-style: normal;
}

.product-desc {
  font-size: 14px;
  color: #787878;
  line-height: 100%;
  font-style: normal;
  letter-spacing: 0%;
  margin: 20px 0 40px;
  max-width: 320px;
}

.link-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  text-decoration: none;
  color: #157442;
  font-style: normal;
  letter-spacing: 0%;
  line-height: 100%;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.link-item:last-child {
  border-bottom: none;
}

.link-item i {
  font-size: 21px;
}

.truck-section {
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0.4) 26.67%, rgba(0, 0, 0, 0) 88.04%),
    url("/assets/images/background_truck.webp");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  min-height: 600px;
  position: relative;
}
.truck-overlay-text h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #f9f9f9;
}

.truck-overlay-text p {
  font-size: 16px;
  opacity: 0.9;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 40px;
  max-width: 380px;
}

.explore-product {
  color: #f9f9f9;
  text-decoration: underline;
  text-underline-offset: 8px;
  font-weight: 600;
  margin-top: auto;
  padding-bottom: 20px;
  display: inline-block;
  margin-top: auto;
  display: inline-block;
  padding-bottom: 10px;
  line-height: 100%;
  font-style: normal;
  font-size: 16px;
}

@media (max-width: 1536px) {
  .strategic-wrapper {
    margin-right: 0 !important;
    padding-right: 0 !important;
    
  }
}


.how-it-works {
  background: #ffffff;
  padding: 90px 0;
}




.hiw-title {
  font-family: "Figtree", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 12px;
}

.hiw-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 50px;
  line-height: 1.6;
}


.hiw-image-col {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 360px;
}




.ellipse{
  margin-left: 300px; 
}

.hiw-product-img {
  position: relative;
  z-index: 1;
  min-width: 566px;
  width: 100%;
  max-width: 400px;
  height: 195px;
  margin-left: -500px;
 margin-bottom: 80px;
  object-fit: contain;

}

.hiw-steps-col {
  padding-left: 220px;
}

.hiw-step {
  display: flex;
  gap: 18px;
  position: relative;
  padding-bottom: 32px;
}


.hiw-step:not(.hiw-step-last)::after {
  content: '';
  position: absolute;
  left: 7px;
  top: 20px;
  width: 2px;
  height: calc(100% - 10px);
  background: #c8e6c9;
}


.hiw-step-dot {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #157442;
  margin-top: 4px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 5px rgba(21, 116, 66, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hiw-step:hover .hiw-step-dot {
  transform: scale(1.3);
  box-shadow: 0 0 0 8px rgba(21, 116, 66, 0.18);
}


.hiw-step-title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #157442;
  margin-bottom: 8px;
  line-height: 1;
}

.hiw-step-desc {
  font-size: 14px;
  font-weight: 400;
  color: #787878;
  line-height: 1.6;
  margin: 0;
  max-width: 420px;
}


.fleet-section {
  background: #ffffff;
  padding: 100px 0;
}



.fleet-title {
  font-size: 40px;
  font-weight: 700;
  font-style: bold;
  line-height: 51px;
  letter-spacing: 0%;
  color: #062D1A;
   font-family: "Figtree", sans-serif;
}



.fleet-subtitle {
  max-width: 750px;
  margin: 15px auto 50px;
  font-size: 16px;
  color: #888888;
  line-height: 100%;
  letter-spacing: 0%;
}


.fleet-card {
  background: linear-gradient(180deg, #F7F7F7 0%, #F2F2F2 100%);
  padding: 35px;
  border: 1px solid #eeeeee;
  width: 100%;
  max-width: 387px;   
  min-height: 320px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 
    0px 4px 8px rgba(0,0,0,0.06),
    0px 0px 4px rgba(0,0,0,0.04);
  transition: 0.3s ease;
}



.fleet-icon {
  font-size: 48px;
  color: #157442;
  margin-bottom: 20px;
  margin-left:-250px;
  
}




.fleet-card h4 {
  font-size: 22px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color:#157442;
  margin-bottom: 15px;
  margin-left: -100px;
}



.fleet-card p {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #565656;
  line-height: 1.6;
  letter-spacing: 0%;
  text-align: left;
}


.fleet-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}



.know-btn {
  border: 0.5px solid #157442;
  padding: 8px 17px 8px 17px;
  background-color: #ffffff;
  border-radius: 30px;
  color: #157442;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
}

.know-btn:hover {
  background: #157442;
  color: #fff;
}


.arrow-circle {
  width: 32.6px;
  height: 32.6px;
  background: #157442;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* .fleet-btn {
  margin-top: 50px;
}
 .fleet-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.card-arrow {
  font-size: 21px;
  color: #157442;
  transform: rotate(-36deg);
}

.connect-main {
  background: #157442;
  color: #fff;
  padding: 15px 35px;
  border-radius: 31px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.connect-main:hover {
  background: #125f36;
  color: #fff;
} */

.card-arrow {
  font-size: 21px;
  color: #157442;
  transform: rotate(-36deg);
}
.fleet-btn {
  margin-top: 50px;
}

.connect-main {
  background: #157442;
  color: #fff;
  padding: 15px 35px;
  width:237px;
  height: 52px;
  border-radius: 31px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  overflow: hidden; 
}

.connect-main:hover{
  background: #157442;
  color: #fff;
 
  
}


.connect-main .icon {
  transition: transform 0.3s ease;
}

.connect-main .connect-text {
  transition: transform 0.3s ease;
}


.connect-main:hover .icon {
  transform: translateX(140px); 
}

.connect-main:hover .connect-text {
  transform: translateX(-30px); 
} 


.news-section {
  background: #157442;
  padding: 100px 0;
  color: white;
}


.news-title {
  font-family: "Figtree", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #F9F9F9;
  max-width: 547px;
  line-height: 51px;
  font-style: bold;
}

.news-desc {
  font-size: 16px;
  margin: 20px 0 30px;
  font-weight: 100;
  font-style: normal;
  max-width: 547px;
  color: #F9F9F9;
  line-height: 100%;
  letter-spacing: 0%;
}



.news-btn {
  background: #ffffff;
  color: #157442;
  border-radius: 30px;
  padding: 10px 22px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
}
.view-more{
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;

}

.arrow-btn{
  font-size: 21px;
}
.news-btn:hover {
  background: #f2f2f2;
  color: #157442;
}


.news-card {
  position: relative;
  overflow: hidden;
}

.news-card > img {
  min-width: 599px;
  width: 100%;
  min-height: 600px;
  object-fit: cover;
}
.gradient-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    179.93deg,
    rgba(0, 0, 0, 0) 35.35%,
    rgba(0, 0, 0, 0.8) 99.94%
  );
}


.news-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 25px;
  color: white;
  background: linear-gradient(
    180deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.7) 100%
  );
}



.news-overlay h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  font-style: bold;
}



.news-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-bottom span {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: #FFFFFF;
}



.arrow-circle {
  width: 32px;
  height: 32px;
  background: #157442;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-circle img {
  width: 100%;
  height: 100%;
}

.partners-section {
  background: #fff;
  padding: 80px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  overflow: hidden;
}


.partners-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  cursor: default;
}

.partners-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.partner-card-spacer {
  width: 260px;
  height: 60px;
  flex-shrink: 0;
}


.logo-card {
  background: #FFFFFF;
  border: 1px solid #e4e4e0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 8px 10px;
}

.logo-card .logo {
  display: block;
  position: static;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  pointer-events: none;
  user-select: none;
  box-sizing: border-box;
  filter: grayscale(50%);
  opacity: 0.8;
  transition:
    filter 0.3s ease,
    opacity 0.3s ease;
}

.logo-card:hover .logo {
  filter: grayscale(0%);
  opacity: 1;
}

.partner-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:#F9F9F9;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 100px;
  z-index: 100;
  box-shadow: 
  0 4px 8px rgba(0, 0, 0, 0.06),
  0 0 4px rgba(0, 0, 0, 0.04);
  pointer-events: none;
}

.partner-card h2 {
  font-size: 26px;
  font-weight: 700;
  color: #062D1A;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}






.tailored-section {
  background-color: #157442;
  background-image: url('/assets/images/background.svg');
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  min-height: 360px;
  padding: 100px 0;
}

.tailored-title {
  font-size: 44px;
  font-weight: 600;
  color: #F9F9F9;
  margin-bottom: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.tailored-desc {
  font-size: 16px;
  font-weight: 400;
  color:#E7E7E7;
  line-height: 1.3;
  letter-spacing: 0;
  max-width: 688px;
  margin: 0;
}


 .tailored-btn {
  background: #ffffff;
  color: #157442;
  border-radius: 31px;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 60px;
  width: 231px;
  height: 51px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  white-space: nowrap;
  text-decoration: none;
}

.tailored-btn:hover {
  background: #ddfbea;
  color: #157442;
}

.tailored-btn-icon {
  font-size: 21px;
  color: #157442;
  display: flex;
  align-items: center;
}

.main-footer {
  background-color: #062D1A;
  padding-top: 60px;
}
 
.footer-top {
  padding-bottom: 40px;
}
 

.footer-left {
  padding-right: 40px;
}
 
.footer-logo {
  height: 53px;
  min-width: 230px;
  margin-bottom: 18px;
  display: block;
}
 
.footer-desc {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.6;
  max-width: 420px;
  margin-bottom: 100px;
}
 
.footer-social {
  display: flex;
  gap: 10px;
}
 
.social-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  transition: border-color 0.3s, background 0.3s;
}
 
.social-icon:hover {
  background: #157442;
  border-color: #157442;
  color: #fff;
}
 
.footer-right {
  display: flex;
  gap: 60px;
  padding-left: 60px;

}
 
.footer-right-block {
  flex: 1;
}
 
.footer-heading {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
   font-family: "Figtree", sans-serif;
  margin-bottom: 20px;
  line-height: 100%;
}
 
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;   
  width: 100px;
  gap: 6px 40px; 
}
.footer-links li a {
  font-size: 16x;
  color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
  transition: color 0.2s;

}
 
.footer-links li a:hover {
  color: #ffffff;
}
 
.footer-address {
  font-size: 16px;
font-weight: 400;
 font-family: "Figtree", sans-serif;
  color: rgba(255, 255, 255, 0.65);
  line-height: 100%;
}
 
.footer-direction {
  display: inline;
  font-size: 16px;
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: color 0.2s;
}
 
.footer-direction:hover {
  color: #4caf7d;
}



.footer-newsletter {
  margin: 80px 0;
}


.newsletter-inner {
  max-width: 748px;
  width: 100%;
  margin: 0 auto;
  padding: 3px; 
  border-radius: 53px;
  background: linear-gradient(90deg, #60E59F 0%, #015227 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}


.newsletter-content {
  width: 100%;
  min-height: 82px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #002315; 
  border-radius: 50px; 
}

.newsletter-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #ffffff;
  white-space: nowrap;
}

.newsletter-input {
  flex: 1;
  height: 48px;
  background: transparent;
  border: 1px solid rgba(96, 229, 159, 0.3); 
  border-radius: 30px;
  padding: 0 20px;
  font-size: 15px;
  color: #ffffff;
  outline: none;
}

.newsletter-input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}


.newsletter-btn {
  background: #ffffff;
  color: #062D1A;
  height: 47px;
  min-width: 156px;
  padding: 13px 22px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  gap: 12px; 

  font-size: 14px;
  font-weight: 500;
  text-decoration: none;

  transition: transform 0.2s ease;
}

.newsletter-btn i {
  font-size: 21px !important;
}
.newsletter-btn:hover {
  transform: scale(1.02);
  background: #f0fff7;
}


.footer-bottom {
 position: relative;
  padding: 20px 0;
}
.footer-bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 85%;
  height: 1px;

  background: rgba(255, 255, 255, 0.15);
}


.footer-bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-copy {
  font-size: 16px;
  font-weight: 400;
  color: #EEEEEE;
  line-height: 160%;
  letter-spacing: 0%;
  margin: 0;
}

.footer-legal {
  display: flex;
  gap: 32px; 
}


.footer-legal a {
  font-size: 16px;
  font-weight: 400;
  color: #EEEEEE;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-legal a:hover {
  color: #ffffff;
}